* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  width: 1519.6px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(1, 51, 75, 0.8),
      rgba(1, 49, 121, 0.8)
    ),
    url(Wall\ 1.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 49% 100%, 0 85%);
}
.logobox {
  position: absolute;
  top: 30px;
  right: 35px;
}
.lowerBorder {
  height: 250px;
  margin-top: -95px;
  background-image: radial-gradient(rgb(1, 51, 75), rgb(1, 49, 121));
  clip-path: polygon(49% 40%, 100% 0, 100% 17%, 49% 60%, 0% 18%, 0 0);
}
.logoItem {
  height: 50px;
  width: 50px;
}

.textBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
  /* background-color: blueviolet; */
}
.authorDetails {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 20px;
}
.authorName {
  display: block;
  font-size: 55px;
  font-weight: 100;
  letter-spacing: 10px;
  margin-left: 130px;
  line-height: 65px;
  font-family: Raflesia;
  animation-name: moveInleft;
  animation-duration: 1s;
}
.authorPro {
  display: block;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 5px;
  font-family: system-ui;
  text-transform: uppercase;
  animation-name: moveInright;
  animation-duration: 1s;
}

/*-------SIDE NAV BAR--------*/
.nav-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 25px;
}
.open-btn {
  position: fixed;
  top: 40px;
  left: 40px;
  color: #fff;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.nav.visible {
  transform: translateX(0);
}
.nav-bg1 {
  background-color: rgb(25, 17, 61);
  width: 20%;
  max-width: 480px;
  min-width: 320px;
  transition-delay: 0.4s;
}
.nav-bg1.visible {
  transition-delay: 0s;
}
.nav-bg2 {
  background-color: rgb(3, 50, 136);
  width: 95%;
  transition-delay: 0.2s;
}
.nav-bg2.visible {
  transition-delay: 0.2s;
}
.nav-bg3 {
  background-color: rgb(3, 165, 230);
  width: 95%;
  position: relative;
  padding: 40px;
  transition-delay: 0s;
}
.nav-bg3.visible {
  transition-delay: 0.4s;
}
.close-btn {
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 10px;
  color: rgba(243, 248, 253, 0.527);
}
.list {
  list-style-type: none;
  padding: 0;
}
.list li {
  margin: 20px 0px;
}
.list li a {
  font-size: 17px;
  font-family: lato;
  color: #010a13;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.2s;
}
.padding {
  padding-right: 10px;
}
.list li a:hover {
  color: #fff;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    opacity: 0.5;
    transform: translate(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    opacity: 0.5;
    transform: translate(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 16px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 50px;
  transition: all 0.2s;
  position: relative;
  animation-name: moveUp;
  animation-duration: 1s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(177, 176, 176, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 5px rgba(177, 176, 176, 0.2);
}

.btn-white {
  background-color: rgba(252, 252, 252, 0.8);
  color: #000;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white::after {
  background-color: rgba(252, 252, 252, 0.8);
}

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}
.min {
  position: relative;
  height: 500px;
  margin-top: -100px;
}
.box {
  position: absolute;
  top: 40%;
  left: 50%;
  color: burlywood;
  font-family: serif;
  margin: auto;
  padding: 20px;
  font-size: 20px;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 700px;
  background-image: linear-gradient(
    to right bottom,
    rgb(1, 51, 75),
    rgb(1, 49, 121)
  );
  border-radius: 20px;
  box-shadow: 0px 5px 20px 5px rgba(49, 49, 49, 0.8);
}
.line {
  width: 100%;
  height: 15px;
  background-color: cornflowerblue;
  border-radius: 20px;
  margin: 10px 0;
}
.bar1 {
  height: 100%;
  width: 92%;
  background-color: rgba(7, 7, 129, 0.76);
  border-radius: 10px;
  position: relative;
  animation: bar1 3s ease-out;
}

.bar2 {
  height: 100%;
  width: 82%;
  background-color: rgba(7, 7, 129, 0.76);
  border-radius: 10px;
  position: relative;
  animation: bar2 3s ease-out;
}

.bar3 {
  height: 100%;
  width: 75%;
  background-color: rgba(7, 7, 129, 0.76);
  border-radius: 10px;
  position: relative;
  animation: bar3 3s ease-out;
}

.bar4 {
  height: 100%;
  width: 80%;
  background-color: rgba(7, 7, 129, 0.76);
  border-radius: 10px;
  position: relative;
  animation: bar4 3s ease-out;
}

.bg {
  position: absolute;
  height: 135%;
  width: 20px;
  top: -2.5px;
  right: 0px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 17px 10px rgb(4 246 255 / 80%);
}
.bg span {
  position: absolute;
  top: 1.6px;
  right: -48px;
  color: rgb(255 255 255);
  font-size: 15px;
}
@keyframes bar1 {
  0% {
    width: 0%;
  }
  100% {
    width: 92%;
  }
}
@keyframes bar2 {
  0% {
    width: 0%;
  }
  100% {
    width: 82%;
  }
}
@keyframes bar3 {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes bar4 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
